.my-project-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 90vh;
  padding: 0px;
  background-color: #f9f9f9;
}

.my-project-header {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
  width: 100%;
  font-weight: bold;
}

.projectCard {
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 150px;
  margin-top: 20px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.projectCard:hover {
  background-color: #f1f1f1;
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.add-project-btn {
  background-color: #007bff;
  border: none;
  color: white;
  font-size: 3rem;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.add-project-btn:hover {
  background-color: #0056b3;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.create-project-text {
  font-size: 1.2rem;
  margin-top: 10px;
  color: #555;
}
.project-titles{
  overflow-wrap: break-word;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  transition: all 0.3s ease;
}
