.my-project-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start (left) */
  justify-content: flex-start;
  min-height: 100vh;
  /* background-color: #f4f6f9; */
  padding: 20px; /* Optional: Add padding */
}

.my-project-header {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
  width: 100%; /* Ensures the header takes full width */
}

.projectCard {
  /* background-color: #fff; */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;
  justify-content: center;
  width: 250px; /* Adjusted width for landscape effect */
  height: 150px; /* Adjusted height */
  margin-top: 20px; /* Spacing from the header */
}

.add-project-btn {
  background-color: #3498db;
  border: none;
  color: white;
  font-size: 4rem;
  border-radius: 50%;
  width: 80px; /* Adjusted button size */
  height: 80px; /* Adjusted button size */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-project-btn:hover {
  background-color: #2980b9;
}

.create-project-text {
  font-size: 1.2rem; /* Font size for the text below */
  margin-top: 10px; /* Spacing between button and text */
  color: #333; /* Text color */
}
