.home-container {
  width: 1250px;
  padding: 20px;
  margin: 0 auto;
  height: 90vh;
}

.header {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.filter-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  padding: 0 50px;
  gap: 15px;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.filter-input,
.filter-dropdown {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

.filter-input {
  flex: 1;
  max-width: 200px;
}

.filter-dropdown {
  max-width: 200px;
}

.toggle-button {
  height: 35.5px;
  width: 150px;
  padding: 6px 10px; /* Reduced padding */
  font-size: 14px; /* Smaller font size */
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
}

.toggle-button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .filter-container {
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    overflow-x: auto;
  }

  .filter-input,
  .filter-dropdown {
    width: 150px;
  }

  .toggle-button {
    width: auto;
    margin-left: 10px;
    padding: 6px 10px; /* Reduced padding */
    font-size: 14px; /* Reduced font size for smaller screens */
  }
}
