.event-details-form {
  padding: 15px;
  border-radius: 8px;
  max-width: 100%;
  margin: 0;
  background-color: #f9f9f9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event-details-form h3 {
  text-align: center;
  font-size: 20px;
  margin: 0 0 15px;
  color: #333;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.form-group {
  flex: 1;
}
.full-width {
  width: 100%;
}
.half-width {
  flex: 0.48;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.form-group input,
.form-group textarea,
.form-group select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  height: 38px;
}

.form-group textarea {
  resize: none;
  height: 70px;
}

.social-media-title {
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: bold;
}
.social-media-links {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between; 
  flex-wrap: nowrap;
}

.social-media-links label {
  font-weight: bold;
  margin-bottom: 5px;
}

.social-media-links input {
  height: 38px;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.optional-text {
  font-size: 12px;
  color: #777;
}

.progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 5px;
  margin-bottom: 10px;
}

.progress {
  height: 10px; 
  background-color: #007bff;
  border-radius: 5px; 
  transition: width 0.3s;
}

.progress-percentage {
  text-align: right;
  font-weight: bold;
  margin-bottom: 10px;
}

.social-media-links a {
  flex: 1;
  text-align: center; 
  padding: 8px;
  text-decoration: none; 
  color: #007bff;
  transition: background-color 0.3s;
}

.social-media-links a:hover {
  background-color: rgba(0, 123, 255, 0.1);
}

@media (max-width: 768px) {
  .event-details-form {
    height: auto;
    overflow-y: auto; 
  }

  .form-row {
    flex-direction: column;
  }

  .form-group {
    flex: 1 1 100%;
  }
}
