.card-section {
  display: flex;
  flex-wrap: wrap;
  overflow-y: hidden;
  justify-content: flex-start;
  padding: 10px;
  margin-left: 25px;
  margin-right: 25px;
  gap: 3px;
}

.card-section .card {
  flex: 1 1 calc(33.333% - 20px);
  margin: 5px;
  box-sizing: border-box;
  padding: 20px;
}

@media (max-width: 768px) {
  .card-section .card {
      flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .card-section .card {
      flex: 1 1 calc(100% - 20px);
  }
}
